
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p align="center">
    <img src="https://avatars3.githubusercontent.com/u/23220521?v=3&amp;s=460" />
</p>

<img src="https://image.slidesharecdn.com/introductiontoasp-netwebapi-130506061937-phpapp01/95/introduction-to-aspnet-web-api-3-638.jpg?cb=1367821237"/>